{erl_opts, [debug_info]}.

{deps, [
    {proper, {git, "https://github.com/proper-testing/proper.git", {tag, "v1.3"}}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [erl_json]}
]}.

{post_hooks, [
    {compile, "cargo build --manifest-path=lib_json/Cargo.toml --release"},
    {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", compile, "cp 'lib_json/target/release/liberl_json.so' 'priv'"},
    {"win32", compile, "copy lib_json\\target\\release\\erl_json.dll priv\\liberl_json.dll"}
]}.

{project_plugins, [
    {rebar3_proper, {git, "https://github.com/ferd/rebar3_proper.git", {tag, "0.12.1"}}},
    {erlfmt, {git, "https://github.com/WhatsApp/erlfmt.git", {tag, "v0.10.0"}}}
]}.

{erlfmt, [write]}.

{alias, [
    {check, [
        xref,
        dialyzer,
        edoc,
        {proper, "--regressions"},
        ct
    ]}
]}.

{dialyzer, [
    {warnings, [
        %% Warn about undefined types and unknown functions
        unknown
    ]}
]}.

{xref_checks, [
    %% enable most checks, but avoid 'unused calls' which is often
    %% very verbose
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{profiles, [
    {test, [
        %% Avoid warnings when test suites use `-compile(export_all)`
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.0.0"}}}
        ]}
    ]}
]}.
